/* Theming taken from https://github.com/vector-im/riot-web/blob/cf5cf02529f95a094d88051c12fdb87a03d87335/src/skins/vector/css/themes/_base.scss */
body {
    color: #454545;
    background-color: #ffffff;
    -webkit-rtl-ordering: visual;
}
#roomList {
    border-collapse: collapse;
}
#roomList > tbody > tr:nth-of-type(2n+1) {
    background-color: #eaf5f0;
}
#roomList td {
    padding: 0 3px;
    border: 1px solid transparent;
}
/* Theming end */
header + hr + div {
    text-align: center;
}
footer {
    margin-top: 1em;
}
footer a {
    padding: 1em;
    margin-left: 1em;
    margin-right: 1em;
}
img.avatar {
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
}

img.userAvatar {
    height: 20px;
}
img.userAvatarMedium {
    height: 36px;
}
img.userAvatarBig {
    height: 96px;
}

* {
    font-family: 'Open Sans',Arial,Helvetica,Sans-Serif;
}
img.serverAvatar {
    height: 20px;
}
img.roomAvatar {
    height: 64px;
}
td.roomAvatar {
    width: 80px;
}
td.roomAvatar img {
    height: 96px;
}
tr.dateSep {
    background-color: lightblue;
    text-align: center;
    font-weight: bold;
}
td.nowrap {
    white-space: nowrap;
    width: 1px;
}
td.fullWidth {
    white-space: nowrap;
}
table#roomHeader {
    width: 100%;
}
table#roomList img {
    height: 60px;
}
table#timeline {
    width: 100%;
}
table#timeline tr {
    vertical-align: top;
}
td.rightAlign {
    text-align: right;
    min-width: 120px;
}
div.paginate {
    text-align: center;
}
div.paginate h4 {
    margin: 10px;
}
h2 {
    margin: 0;
}
span.redacted {
    color: red;
}