<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Spiders Welcome</title>
</head>
<body>

    MemberInfo of {{ .MXID }} in {{ .RoomID }}

    <table>
        <tr>
            <td>Avatar</td>
            <td>
                {{ if .MemberInfo.AvatarURL }}
                    <img src="{{.MemberInfo.AvatarURL | mxcToUrl}}" />
                {{ else }}
                    N/A
                {{ end }}
            </td>
        </tr>
        <tr>
            <td>MXID</td>
            <td>{{ .MXID }}</td>
        </tr>
        <tr>
            <td>Display Name</td>
            <td>{{ .MemberInfo.DisplayName }}</td>
        </tr>
    </table>

</body>