<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Spiders Welcome</title>
</head>
<body>

    MemberInfo of {{ .MemberInfo.MXID }} in {{ .Room.ID }}

    <table>
        <tr>
            <td>Avatar</td>
            <td>
                {{ with .MemberInfo.AvatarURL }}
                    <a href="{{MXCtoUrl .}}">
                        <img src="{{MXCtoThumbUrl .}}" />
                    </a>
                {{ else }}
                    <img src="../../../assets/logo_missing.png" />
                {{ end }}
            </td>
        </tr>
        <tr>
            <td>MXID</td>
            <td>{{ .MemberInfo.MXID }}</td>
        </tr>
        <tr>
            <td>Display Name</td>
            <td>{{ .MemberInfo.DisplayName }}</td>
        </tr>
        <tr>
            <td>Permalink</td>
            <td><a href="https://matrix.to/#/{{.MemberInfo.MXID}}">https://matrix.to/#/{{.MemberInfo.MXID}}</a></td>
        </tr>
    </table>

</body>