<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Spiders Welcome</title>
    <style>
        tr {
            height: 56px;
        }
        img {
            height: 50px;
        }
    </style>
    {{ template "room_header:css" }}
</head>
<body>

    {{ template "room_header.html" .Room }}

    Room Power Level Requirements
    <table>

        <tr>
            <td>Ban</td>
            <td>{{.Room.PowerLevels.Ban}}</td>
        </tr>

        <tr>
            <td>Kick</td>
            <td>{{.Room.PowerLevels.Kick}}</td>
        </tr>

        <tr>
            <td>Redact</td>
            <td>{{.Room.PowerLevels.Redact}}</td>
        </tr>

        <tr>
            <td>User Default</td>
            <td>{{.Room.PowerLevels.UsersDefault}}</td>
        </tr>

        <tr>
            <td>State Default</td>
            <td>{{.Room.PowerLevels.StateDefault}}</td>
        </tr>

        <tr>
            <td>Events Default</td>
            <td>{{.Room.PowerLevels.EventsDefault}}</td>
        </tr>

        <tr>
            <td>Events</td>
            <td>
                <table>
                    {{ range $type, $pl := .Room.PowerLevels.Events }}
                        <tr>
                            <td>{{$type}}</td>
                            <td>{{$pl}}</td>
                        </tr>
                    {{ end }}
                </table>
            </td>
        </tr>

    </table>

    Users with non-default Power Levels:
    <table>
        {{ range $mxid, $pl := .Room.PowerLevels.Users }}
            {{ if ne $pl $.Room.PowerLevels.UsersDefault }}
                <tr>
                    <td>{{$mxid}}</td>
                    <td>{{$pl}}</td>
                </tr>
            {{ end }}
        {{ end }}
    </table>

</body>
</html>