<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Spiders Welcome</title>
    <style>
        img {
            height: 20px;
        }
        div.paginate {
            text-align: center;
        }
    </style>
    {{ template "room_header:css" }}
</head>
<body>

    {{ template "room_header.html" .Room }}
    {{ $numEvents:= (len .Events) }}

    <hr>
    <div class="paginate">
        {{ if .ReachedRoomCreate }}
            <h4>You have reached the beginning of time (for this room).</h4>
        {{ else }}
            <a href="?anchor={{.Anchor}}&offset={{plus .CurrentOffset .PageSize}}">
                <h4>Load older messages</h4>
            </a>
        {{ end }}
    </div>
    <hr>

    {{ if gt $numEvents 0 }}
        {{ template "room_timeline.html" . }}
    {{ else }}
        <h3>No Events</h3>
    {{ end }}

    <hr>
    <div class="paginate">
        <a href="?anchor={{.Anchor}}&offset={{minus .CurrentOffset $numEvents}}">
            <h4>Show newer messages</h4>
        </a>
    </div>
    <hr>

    {{ template "back_to_room_list" }}
</body>
</html>