{{ with . }}
    <header>
        <table id="roomHeader">
            <tr>
                <td rowspan="4">
                    {{ with .AvatarUrl }}
                    <img class="roomLogo" src="{{MXCtoThumbUrl .}}" />
                    {{ else }}
                    <img class="roomLogo" src="../../assets/logo_missing.png" />
                    {{ end }}
                </td>
                <td><h2>{{ .GetName }}</h2></td>
                <td class="rightAlign">
                    <a href="./members">{{ .NumJoinedMembers }} Members</a>
                </td>
            </tr>
            <tr>
                <td class="maxWidth">{{ .Topic }}</td>
                <td class="rightAlign">
                    <a href="./servers">{{ len .GetServers }} Servers</a>
                </td>
            </tr>
        </table>
    </header>
{{ end }}

{{ define "room_header:css" }}
    <style>
        img.roomLogo {
            height: 64px;
        }
        table#roomHeader {
            width: 100%;
        }
        td.rightAlign {
            text-align: right;
            min-width: 120px;
        }
        td.maxWidth {
            width: 100%;
        }
        * {
            font-family: 'Open Sans',Arial,Helvetica,Sans-Serif;
        }
        h2 {
            margin: 0;
        }
    </style>
{{ end }}

{{ define "back_to_room_list" }}
    <a href="../../">Back to Room List</a>
{{ end }}