<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Spiders Welcome</title>
    <style>
        td.timestamp {
            min-width: 150px;
        }
    </style>
    {{ template "room_header:css" }}
</head>
<body>

{{ template "room_header.html" .Room }}

<table>
    <thead>
        <tr>
            <th>Server</th>
            <th>Number of Users in this Room</th>
        </tr>
    </thead>
        {{ range $server := .Room.GetServers }}
            <tr>
                <td>{{$server.Key}}</td>
                <td>{{$server.Value}}</td>
            </tr>
        {{ end }}
    <tbody>

    </tbody>
</table>

<a href="../{{.Room.ID}}">Go Back</a>
</body>
</html>