<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Spiders Welcome</title>
    <style>
        img {
            height: 25px;
        }
    </style>
    {{ template "room_header:css" }}
</head>
<body>

{{ template "room_header.html" .Room }}

<table>

    <thead>
        <tr>
            <td>MXID</td>
            <td>Avatar</td>
            <td>Display Name</td>
            <td>Power Level</td>
        </tr>
    </thead>

    {{ .NumMembers }} - Users have interacted with this room.

    {{ range $mxid, $memberInfo := .Room.MemberInfo }}
        {{ if eq $memberInfo.Membership "join" }}
            <tr>
                <td><a href="./members/{{$mxid}}">{{ $mxid }}</a></td>
                <td>
                    {{ if $memberInfo.AvatarURL }}
                        <img src="{{ $memberInfo.AvatarURL.ToUrl}}" />
                    {{ else }}
                        <img src="../../../assets/logo_missing.png" />
                    {{ end }}
                </td>
                <td>{{ $memberInfo.DisplayName }}</td>
                <td>{{ $memberInfo.PowerLevel.GetString }} ({{ $memberInfo.PowerLevel.ToInt }})</td>
            </tr>
        {{ end }}
    {{ end }}

</table>

{{ template "back_to_room_list" }}

</body>
</html>