<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Spiders Welcome</title>
    <style>
        td.timestamp {
            min-width: 150px;
        }
        img {
            height: 25px;
        }
    </style>
</head>
<body>
{{ .Room.GetName }}

<table>

    <thead>
        <tr>
            <td>MXID</td>
            <td>Avatar</td>
            <td>Display Name</td>
            <td>Power Level</td>
        </tr>
    </thead>

    {{ len .Room.MemberInfo }} Users have interacted with this room.

    {{ range $mxid, $memberInfo := .Room.MemberInfo }}
        {{ if eq $memberInfo.Membership "join" }}
            <tr>
                <td>{{ $mxid }}</td>
                <td>
                    {{ if $memberInfo.AvatarURL }}
                        <img src="{{ $memberInfo.AvatarURL.ToUrl}}" />
                    {{ else }}
                        <img src="../../../assets/logo_missing.png" />
                    {{ end }}
                </td>
                <td>{{ $memberInfo.DisplayName }}</td>
                <td>{{ $memberInfo.PowerLevel }}</td>
            </tr>
        {{ end }}
    {{ end }}

</table>

<a href="../{{.Room.RoomID}}">Go Back</a>
</body>
</html>