<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Spiders Welcome</title>
    <style>

    </style>
</head>
<body>

    <span>Page {{ .Page }}</span>

    <table>

        {{ range $room := .Rooms }}
        <tr>
            <td>
                <img src="{{$room.AvatarUrl | mxcToUrl}}" />
            </td>
            <td>
                <a href="/{{$room.RoomId}}">
                    {{$room.Name}} [{{$room.CanonicalAlias}}]
                </a>
                - {{$room.NumJoinedMembers}} members
                - {{$room.Topic}}
            </td>
        </tr>
        {{end}}

    </table>

    <div>
        {{ if gt .Page 1 }}
            <span><a href="?page={{ minus .Page 1 }}">Previous Page</a></span>
        {{ end }}
        <span><a href="?page={{ plus  .Page 1 }}">Next Page</a></span>
    </div>

</body>
</html>