<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Spiders Welcome</title>
    <style>
        td.timestamp {
            min-width: 150px;
        }
        img {
            height: 20px;
        }
        img.roomLogo {
            height: 64px;
        }
        table#roomHeader {
            width: 100%;
        }
        td.rightAlign {
            text-align: right;
        }
        td.maxWidth {
            width: 100%;
        }
    </style>
</head>
<body>

    <table id="roomHeader">
        <tr>
            <td rowspan="3">
                {{ if .Room.AvatarUrl }}
                    <img class="roomLogo" src="{{.Room.AvatarUrl.ToUrl}}" />
                {{ else }}
                    <img class="roomLogo" src="../assets/logo_missing.png" />
                {{ end }}
            </td>
            <td>
                {{ if .Room.Name }}
                    {{ .Room.Name }}
                {{ else }}
                    No Name
                {{ end }}
            </td>
            <td class="rightAlign">
                <a href="./{{.Room.RoomID}}/members">{{ .Room.NumJoinedMembers }} Members</a>
            </td>
        </tr>
        <tr>
            <td>{{ .Room.CanonicalAlias }}</td>
            <td class="rightAlign">
                <a href="./{{.Room.RoomID}}/servers">{{ len .Room.Servers }} Servers</a>
            </td>
        </tr>
        <tr>
            <td colspan="2" class="maxWidth">{{ .Room.Topic }}</td>
        </tr>
    </table>
    <hr>
    <table>

        <thead>
        <tr>
            <td>Timestamp</td>
            <td>Sender</td>
            <td>Message</td>
        </tr>
        </thead>

        {{ range $message := .Room.InitialSync.Messages.Chunk }}
            {{ $memberInfo:= (index $.Room.MemberInfo $message.Sender) }}

            {{ if eq $message.Type "m.room.message" }}
                <tr>
                    <td class="timestamp">
                        <a href="https://matrix.to/#/{{.RoomID}}/{{$message.ID}}">{{$message.Timestamp | time}}</a>
                    </td>
                    <td>
                        <a href="./{{$.Room.RoomID}}/members/{{$message.Sender}}">
                            {{ if $memberInfo.AvatarURL }}
                                <img src="{{$memberInfo.AvatarURL.ToUrl}}" />
                            {{ else }}
                                <img src="../assets/logo_missing.png" />
                            {{ end }}

                            {{ if $message.Content.msgtype }}
                                {{ if eq $message.Content.msgtype "m.emote" }}* {{ end }}
                            {{ end }}

                            {{ $memberInfo.GetName }}
                        </a>
                    </td>
                    <td>
                        {{ mRoomMessage $message }}
                    </td>
                </tr>
            {{ else }}
            {{ if eq $message.Type "m.room.member" }}
                <tr>
                    <td class="timestamp">
                        <a href="https://matrix.to/#/{{.RoomID}}/{{$message.ID}}">{{$message.Timestamp | time}}</a>
                    </td>
                    <td colspan="2">
                        {{ mRoomMember $message }}
                    </td>
                </tr>
            {{ end }}
            {{ end }}
        {{ end }}

    </table>


    <a href="../">Go Back</a>
</body>
</html>