<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Spiders Welcome</title>
    <style>
        td.timestamp {
            min-width: 150px;
        }
        img {
            height: 25px;
        }
    </style>
</head>
<body>
{{.Room.RoomID}}

<table>

    <thead>
    <!--    <tr>
            <td>Timestamp</td>
            <td>Sender</td>
            <td>Message</td>
        </tr>-->
    </thead>

    {{ range $state := .Room.InitialSync.State }}
        {{ if eq $state.Type "m.room.member" }}
            {{ if eq $state.Membership "join" }}
                <tr>
                    <td>
                        {{ if $state.Content.avatar_url }}
                            <img src="{{$state.Content.avatar_url | mxcToUrl}}" />
                        {{ else }}
                            N/A
                        {{ end }}
                    </td>
                    <td>
                        {{$state.Sender}}
                    </td>
                    <td>
                        {{$state.Content.displayname}}
                    </td>
                </tr>
            {{ end }}
        {{ end }}
    {{ end }}

</table>

<a href="../{{.Room.RoomID}}">Go Back</a>
</body>
</html>